body {
    background-image: url("../myapi/img/Copilot_20260123_220027.png");
    text-align: center;
    color: darkgreen;
}

h1 {

    font-size: 65px;
    color: black;
    margin-top: 100px;
    margin-bottom: 20px;

}

.choice-container {
    padding: 10px 0;
    margin: auto;
    border-radius: 15px;
    border: 5px solid darkblue;
    margin-bottom: 30px;
    margin-top: 100px;
}



h2 {

    font-size: 10px;
    margin: 10px 0;
    font-size: 45px;
    color: brown;
}

.rule-container {
    padding: 10px 0;
    margin: auto;
    border-radius: 15px;
    border: 5px solid darkblue;
    margin-bottom: 30px;
}

.mode-container {
    padding: 10px 0;
    margin: auto;
    border-radius: 15px;
    border: 5px solid darkblue;
    margin-bottom: 30px;

}

h3 {
    font-size: 20px;
    color: brown;
}

.rule-container ul {
    list-style-type: none;
    font-size: 20px;
}

@media(min-width:760px) {
    .choice-container {
        width: 60%;
        height: 100%;
    }
}



@media(min-width:760px) {
    .rule-container {
        width: 60%;
    }

}

@media(min-width:760px) {
    .mode-container {
        width: 60%;
    }
}

.score-container {

    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    font-size: 1.2rem;
}

.score {
    font-weight: 500;
}

.btn {
    color: black;
    cursor: pointer;
    width: 100px;
    margin: 10px;
    border: 5px solid darkblue;
    border-width: 3px;
    font-size: 25px;
}


.option-container {


    padding: 10px 0;
    margin: auto;
    border-radius: 15px;
    border: 5px solid darkblue;
    margin-bottom: 30px;
}

.score-container {

    padding: 10px 0;
    margin: auto;
    border-radius: 15px;
    border: 5px solid darkblue;
    margin-bottom: 30px;
}


@media(min-width:760px) {
    .option-container {
        width: 80%;
    }

}

@media(min-width:760px) {
    .score-container {
        width: 60%;
    }
}

.result-container {

    padding: 10px 0;
    margin: auto;
    border-radius: 15px;
    border: 5px solid darkblue;
    margin-bottom: 30px;

}

@media(min-width:760px) {
    .result-container {
        width: 60%;
    }
}

h4 {
    color: black;
    font-weight: 1000;

}

p {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.list {
    font-size: 25px;
    color: black;
}

.score {
    font-size: 25px;
    color: black;
}

.Thank {
    color: black;

    margin-bottom: 20px;
    font-size: 45px;
}