body {
    background-color: darkslategray;
    text-align: center;
    color: white;
}

h1 {

    font-size: 35px;
color:white;
margin-top: 30px;
margin-bottom: 20px;

}

.choice-container{
    padding: 10px 0;
    margin: auto;
    border-radius: 15px;
    border: 5px solid antiquewhite;
    margin-bottom: 30px;
}



h2 {

    font-size: 10px;
 margin: 10px 0;
 font-size: 25px;
   color:darksalmon;
}

.rule-container {
    padding: 10px 0;
    margin: auto;
    border-radius: 15px;
    border: 5px solid antiquewhite;
    margin-bottom: 30px;
}

.mode-container{
    padding: 10px 0;
    margin: auto;
    border-radius: 15px;
    border: 5px solid antiquewhite;
    margin-bottom: 30px;
    
}

h3{
   font-size: 18px;
   color:white;
}

.rule-container ul{
    list-style-type: none;
    font-size: 20px;
}

@media(min-width:760px){
.choice-container{
    width: 60%;
    height: 100%;
}
}



@media(min-width:760px){
.rule-container{
    width: 60%;
}

}

@media(min-width:760px){
    .mode-container{
        width: 60%;
    }
}

.score-container{

    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    font-size: 1.2rem;
}

.score{
    font-weight: 500;
}

.btn{
   color:darksalmon;
   cursor: pointer;
   width: 100px;
   margin: 10px;
   border-color: antiquewhite;
   border-width: 3px;
}


.option-container{


    padding: 10px 0;
    margin: auto;
    border-radius: 15px;
    border: 5px solid antiquewhite;
    margin-bottom: 30px;
}
.score-container{

    padding: 10px 0;
    margin: auto;
    border-radius: 15px;
    border: 5px solid antiquewhite;
    margin-bottom: 30px;
}


@media(min-width:760px){
.option-container{
    width: 80%;
}

}

@media(min-width:760px){
    .score-container{
        width: 60%;
    }
}